<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>下单</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/orderNav.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>

<body>
	<div id="app">
		<!-- 标题 -->
		<div class="T-head line50 center fs16 Tfix-head">下单</div>
		<div class="h50"></div>
		
		<div class="flex T-head-msg">
			<a class="left" href="user.html"><img src="images/home-icon1.png" ></a>
			<div class="text">同城取送1小时到达</div>
			<div class="right">西安<i class="bIcon"></i></div>
		</div>
		
		<!-- banner -->
		<div class="ind_banner oh">
			<img src="images/home-banner.png" alt="">
		</div>
		<!-- banner end -->
		
		<div class="orderNav">
			<span class="tt" :class="current==1?'on':''" @click="change('1')">取送件</span>
			<span class="tt" :class="current==2?'on':''" @click="change('2')">代买</span>
			<span class="tt" :class="current==3?'on':''" @click="change('3')">代办</span>
			<span class="tt" :class="current==4?'on':''" @click="change('4')">当日达</span>
		</div>
		
		<div class="">
			<div class="takeMsg" v-if="current==1">
				<ul>
					<li>
						<i class="dian" style="background: #009944;"></i>
						<input type="text" value="" placeholder="从哪里发出">
						<a class="bookBtn" href="address.html">地址薄</a>
					</li>
					<li>
						<i class="dian" style="background: #f01a1c;"></i>
						<input type="text" value="" placeholder="送到那里去">
						<a class="bookBtn" href="address.html">地址薄</a>
					</li>
					<li>
						<a class="flexRowBetween" href="goodsInfor.html" style="width: 100%;">
							<i class="dian" style="background: #f01a1c;"></i>
							<input type="text" value="" placeholder="请选择要配送的物品信息">
							<img class="arrow" src="images/icon.png" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div class="agentMsg pdlr4" v-if="current==2">
				<div class="editTex">
					<textarea rows="" cols="4" placeholder="请输入你想买的商品"></textarea>
				</div>
				<a class="btn" href="replace_buy.html">下单</a>
				<div class="proNav">
					<ul>
						<li :class="clickCur==index?'on':''" v-for="(item,index) in buyProData"  :key="index" @click="clickPro(index)">
							<img class="icon" :src="item.iconUrl">
							<span>{{item.title}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="agentMsg pdlr4" v-if="current==3">
				<div class="editTex">
					<textarea rows="" cols="4" placeholder="请输入你想买的商品"></textarea>
				</div>
				<a class="btn" href="replace_handle.html">下单</a>
				<div class="daibanNav">
					<ul>
						<li :class="clickCurTwo==index?'on':''" v-for="(item,index) in banProData"  :key="index" @click="clickProTwo(index)">
							<img class="icon" :src="item.iconUrl">
							<span>{{item.title}}</span>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="takeMsg" v-if="current==4">
				<ul>
					<li>
						<i class="dian" style="background: #009944;"></i>
						<input type="text" value="" placeholder="从哪里发出">
						<a class="bookBtn" href="address.html">地址薄</a>
					</li>
					<li>
						<i class="dian" style="background: #f01a1c;"></i>
						<input type="text" value="" placeholder="送到那里去">
						<a class="bookBtn" href="address.html">地址薄</a>
					</li>
					<li>
						<a class="flexRowBetween" href="goodsInfor.html" style="width: 100%;">
							<i class="dian" style="background: #f01a1c;"></i>
							<input type="text" value="" placeholder="请选择要配送的物品信息">
							<img class="arrow" src="images/icon.png" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="bordB1"></div>
		<div class="persoList pdlr4">
			<ul>
				<li v-for="(item,index) in persoList" :key="index">
					<div class="left">
						<img src="images/home-img.png" alt="">
						<span>张丹</span>
					</div>
					<div class="right">距离您的位置<em class="mm">156m</em></div>
				</li>
			</ul>
		</div>

	</div>
</body>

	
<script type="text/javascript">
	var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
					is_show:false,
					mainData: [],
					clickCur:0,
					buyProData:[
						{title:'随意购',iconUrl:'images/daimai-icon.png'},
						{title:'医药',iconUrl:'images/daimai-icon6.png'},
						{title:'星巴克',iconUrl:'images/daimai-icon7.png'},
						{title:'酒',iconUrl:'images/daimai-icon8.png'},
						{title:'早餐',iconUrl:'images/daimai-icon9.png'},
						{title:'星巴克',iconUrl:'images/daimai-icon7.png'},
						{title:'酒',iconUrl:'images/daimai-icon8.png'}
					],
					clickCurTwo:0,
					banProData:[
						{title:'万能排队',iconUrl:'images/daiban-icon.png'},
						{title:'办事排队',iconUrl:'images/daiban-icon6.png'},
						{title:'医院排队',iconUrl:'images/daiban-icon7.png'},
						{title:'银行排队',iconUrl:'images/daiban-icon8.png'},
						{title:'餐厅排队',iconUrl:'images/daiban-icon9.png'}
					],
					current:1,
					persoList:[{},{},{},{}]
					
					
		        }
		    },
		    onLoad() {
		    	const self = this;
		    	// self.$Utils.loadAll(['getMainData'], self);
		    },
		    methods: {
				change(current){
					const self = this;
					if(current!=self.current){
						self.current = current
					}
				},
				clickPro(index){
					const self = this;
					self.clickCur = index
				},
				clickProTwo(index){
					const self = this;
					self.clickCurTwo = index
				},
				getMainData() {
					const self = this;
					const postData = {};
					postData.tokenFuncName = 'getProjectToken';
					var callback = function(res){
					    console.log('getMainData', res);
					    self.mainData.push.apply(self.mainData,res.info.data);		        
					};
					self.$apis.orderGet(postData, callback);
				}
		    }
		});
	</script>
</html>